
<!DOCTYPE html>
<html>
   <head>
      <title>Translate app</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <style>
         table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #dddddd;
          }
         </style>
   </head>
   <style>
      p {font-size: 20px} 
      h1{text-align: center;}
   </style>
   <body>
      <div class="container">
         <h1 class="mt-5 mb-5">Translate App</h1>
         <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="form-row mt-4">
               <div class="col">
                  <select id="inputState" class="form-control" name="src">
                     <option selected value="en">English</option>
                     <option value="ar">Arabic</option>
                     <option value="es">Spanish</option>
                     <option value="fr">Frensh</option>
                     <option value="fa">Persian</option>
                     <option value="de">German</option>
                     <option value="zh-cn">Chinese</option>
                  </select>
               </div>
               to 
               <div class="col">
                  <select id="inputState" class="form-control" name="lang">
                     <option selected value="en">English</option>
                     <option value="ar">Arabic</option>
                     <option value="es">Spanish</option>
                     <option value="fa">Persian</option>
                     <option value="fr">Frensh</option>
                     <option value="de">German</option>
                     <option value="zh-cn">Chinese</option>
                  </select>
               </div>
            </div>
            <div class="col">
               <textarea type="text" name="txt" class="form-control" placeholder="Enter Your Text" rows="5" required="required" ></textarea>
            </div>
               
           <div align="center"> <button type="submit" class="btn btn-primary mt-2" >Translate</button></div>
         </form>
         <p class="mt-4" align="center">{{result}}</p>
      </div>
      {% if records %}
      <div class="container">
         <table>
            <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Meaning</th>
            <th>Src</th>
            <th>Dest</th>
            <th>Pronunciation</th>
            </tr>
            {% for record in records %}
            <tr>
            <td>{{record.id}}</td>
            <td>{{record.word}}</td>
            <td>{{record.meaning}}</td>
            <td>{{record.src}}</td>
            <td>{{record.targetlang}}</td>
            <td>{{record.pronunciation}}</td>
            </tr>
            {% endfor %}
         </table>
      </div>
      {% endif %}
      <div class="container" align="center"><a href="{% url 'export-ex' %}" >Excel File</a></div>
      <footer>
         <p align="center">Django Dictionary</p>
       </footer>
   </body>
</html>

